#name{
    display: block;
    padding: 20px;
    background-color: rgb(206, 203, 203);
}
input[name] {
    display: block;
    padding: 5px;
    background-color: #fafafa;
}
body{
    margin: 3px 3px 3px 3px;
    background-color: rgb(15, 15, 15);
}
table{
    margin: 0px 0px 0px 0px;
    width: 100%;
    border: 0px Solid black;
    border-collapse: collapse;
}
#text-size{
    font-size: 19px;
    margin: 0px 10px 0px 0px;
    color: white
}
h1{
    text-align: center;
}
form{
    padding: 0% 45%;

}
table{
    border: 10px solid red;
    padding: 0% 40%;
    border-left: 200px;
}